{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="about-area" id="about"></div>
<!-- <p> This is stuff in the about area </p> -->
<div class="text-part">
  <h1 class="sectionabout"> <center>About <i>The Queue</i></h1></center>
  <br>
  <section><i>The Queue</i> was developed by Kieran Blanks and Bettina Johnson as a public safety tool to seek out equitable businesses after reflecting on the tragic deaths and historic mistreatment of African-Americans in the United States. There is a gap between where we currently are, and where we should be in terms of equitable treatment for all.</section>

  <p>According to the American Psychology Association, racism is defined as “a personal belief in the superiority of one’s race over another. It is linked to racial prejudice and discriminatory behaviors, which can be an expression of implicit and explicit bias.” </p>

  <p>These unfair biases are reflected in our everyday life, and our mission at <i>The Queue</i> is to bring light to the businesses that practice equitable and fair treatment for everyone.</p> 

  <p><i>The Queue</i> is a safety tool that allows for consumers to maintain the safety of themselves and their loved ones. We believe that it is important to make the best economic decisions based on what businesses value and appreciate them as patrons.</p>


  <p>CPO <a href="https://www.linkedin.com/in/kieranblanks/">Kieran Blanks</a> a Morehouse  College alumni and an experienced human-centered research and design professional with over ten years of experience in both traditional marketing and user-centered design, brings the passion and ideas that power <i>The Queue</i>.</p>

  <p>CTO <a href="https://www.linkedin.com/in/bettina-johnson/"">Bettina C. Johnson</a> a Fort Valley State University alumnae brings seven years of retail and logitics experience prior to beginning her career in technology as a software developer. Bettina's lifelong passion for technology brings the determination and design that power <i>The Queue.</i></p>

  <p> <p><i>The Queue</i> was developed by Kieran Blanks and Bettina Johnson as a public safety tool to seek out equitable businesses after reflecting on the tragic deaths and historic mistreatment of African-Americans in the United States. There is a gap between where we currently are, and where we should be in terms of equitable treatment for all.</p>

  <p>According to the American Psychology Association, racism is defined as “a personal belief in the superiority of one’s race over another. It is linked to racial prejudice and discriminatory behaviors, which can be an expression of implicit and explicit bias.” </p>

  <p>These unfair biases are reflected in our everyday life, and our mission at <i>The Queue</i> is to bring light to the businesses that practice equitable and fair treatment for everyone.</p> 

  <p><i>The Queue</i> is a safety tool that allows for consumers to maintain the safety of themselves and their loved ones. We believe that it is important to make the best economic decisions based on what businesses value and appreciate them as patrons.</p>


  <p>CPO <a href="https://www.linkedin.com/in/kieranblanks/">Kieran Blanks</a> a morehouse alumni and an experienced human-centered research and design professional with over ten years of experience in both traditional marketing and user-centered design, brings the passion and ideas that power <i>The Queue</i>.</p>

  <p>CTO <a href="https://www.linkedin.com/in/bettina-johnson/"">Bettina C. Johnson</a> a Fort Valley State University alumnae brings seven years of retail and logitics experience prior to beginning her career in technology as a software developer. Bettina's lifelong passion for technology brings the determination and design that power <i>The Queue.</i></p></p>
{% endblock %}