{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
 <head>
    <title>The Queue</title>

   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Fontawesome -->
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
    <!-- Google Fonts -->
    <link href="<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">" rel="stylesheet">
  </head>

<header> 
<body>
  <div id="navigation-sticky">
		<h1 class="text-uppercase text-primary">Test!</h1>
		<!-- Navigation -->
	<nav class="navbar bg-light navbar-light navbar-expand-lg sticky-top">
		<div class="container">
			<a href="index.html" class="navbar-brand"><img src"" alt="The Queue Logo"></a> 
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="index.html" class="nav-link active">Home</a></li>
					<li class="nav-item"><a href="aboutus.html" class="nav-link">About Us</a></li>
					<li class="nav-item"><a href="contactus.html" class="nav-link">Contact Us</a></li>
					<li class="nav-item"><a href="" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="" class="nav-link"></a></li>
				</ul>

			</div>
		</div>
	</nav> 
<!-- this is the previous navbar -->

 <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="#"> The Queue</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}">Welcome</a>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-bar-text"> Hello, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_logout' %}?">Logout </a>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registration_register' %}?next=/detail">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login' %}">Log in</a>
              </li> 
          {% endif %} 
        </ul>
    </div>
 </nav>
</body>
</header>

<main role="main" class="container">
  <div class="pb-2 mb-2 border-bottom">
    {% block page_header %} {% endblock page_header %}
  </div>
  <div>
    {% block content %}{% endblock content %}
  </div>
</main>






  
</html>
