{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
 <head>
    <title>The Queue</title>
  
   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Fontawesome -->
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">"
  </head>
  <body data-spy="scroll" data-target=".navbar">
  <header> 
        <!-- Navigation -->

        <nav class="navbar fixed-top bg-light navbar-light navbar-expand-lg scrolling-navbar">
          <div class="container">
            <!-- <div class="navbar-brand img"><img src="{% static 'images/TheQueue_Logo.png' %}" alt="The Queue Logo"></div>  -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="Sticky-nav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Sticky-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{% url 'Home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'aboutus' %}" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="{% url 'contactus' %}" class="nav-link">Contact Us</a></li>
                <li class="nav-item"><a href="{% url 'resources' %}" class="nav-link">Contact Us</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><p class="nav-link"> Hello, {{ user.username }}!</p></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'auth_logout' %}" class="nav-link">Log Out</a></li>
              </ul>

            </div>
          </div>
        </nav> 
        <div class="view">
        </div>
  </header>
    <!-- <main class="py-5" role="main" class="container" id="scroll"> -->
    <main class="py-5" class="container" id="scroll">
      <div class="header-firstnav">
        <div class="pb-2 mb-2 border-bottom">
          {% block page_header %} {% endblock page_header %}
        </div>
        <div>
          <p align="justify">{% block content %}{% endblock content %}</p>
        </div>
      </div>
    </main>
</body>
</html>
