{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div>

 
   <center><h1 class="naming">{{business.name}}</h1></center>
   <br>
   <center><button type="button" class="btn btn-outline-primary">Add New Review</button></center>
  <div class="overall justify-content-content">
      <h4>Overall Rating</h4>
      {% for key,value in averages.items %}
      <p>{{ key }} : {{ value|floatformat }} </p>
      {% endfor %}
   </div>
  
   {% for review in reviews %}
   <ul>
     <p><h6>@{{review.user}}'s Review</h6></p> 
    {{review.note}}
    <br>
    <li>Ethnicity: {{review.ethnicity}}</li> 
    <li>Gender: {{review.gender}}</li>
    <li>Disability: {{review.disability}}</li>
    <li>Orientation: {{review.orientation}}</li>
    <li>Age: {{review.age}}</li>
    <li>Education: {{review.education}}</li>
</ul>
<br>


   {% endfor %}


</div>
{% endblock %}