{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to <i>The Queue</i>!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
<center><h3 class="resourceheading">Resources</h3></center>
<br>
<section><p>If you have been the victim of racism, bias, and discrimination, here are a few resources to assist you with healing and preventing this from happening to others. Healing from trauma takes time, and <i>The Queue</i> is devoted to helping. Below are a few resources to assist you.</p></section> 
    
<ul class="resourcelist">
  <li class="resourcelink"><a href="https://www.eeoc.gov/federal-sector/filing-formal-complaint">Filing an EEOC Complaint</a></li>

  <li class="resourcelink"><a href="https://locator.apa.org/?_ga=2.5166579.139614053.1597062956-832031607.1597062956">Finding a Psychologist Near You</a></li>

  <li class="resourcelink"><a href="https://www.innopsych.com">Finding a Therapist of Color</a></li> 

  <li class="resourcelink"><a href="https://employment.findlaw.com/employment-discrimination.html">Employment Law</a></li>
</ul>



{% endblock %}