{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<center><h3 class="resourceheading">Resources</h3></center>
<div class="headingimage"><img src="{% static 'images/hands-up.jpg' %}" alt="hands up" width=600 height=350></div>
<br>
<p>If you believe you have been a victim of racial bias or discrimination at an establishment, please rate and review the business and share your lived experience with <i>The Queue</i> community. For additional support we have provided a list of organizations and other resources to assist you. </p> 
    
<ul class="resourcelist">
  <li class="resourcelink"><a href="https://www.eeoc.gov/federal-sector/filing-formal-complaint">Filing an EEOC Complaint</a></li>

  <li class="resourcelink"><a href="https://locator.apa.org/?_ga=2.5166579.139614053.1597062956-832031607.1597062956">Finding a Psychologist Near You</a></li>

  <li class="resourcelink"><a href="https://www.innopsych.com">Finding a Therapist of Color</a></li> 

  <li class="resourcelink"><a href="https://employment.findlaw.com/employment-discrimination.html">Employment Law</a></li>
</ul>



{% endblock %}