{% extends 'base.html' %}

{% block content %}
<br>

<h5>Please fill out your demographic information to the best of your ability. </h5>
<h6><i>The Queue </i> will never share your information with a third party.</h6>
<form action="" method="post">
    {% csrf_token %}
       {{ form.as_p }}
   <!-- <input type="submit" class="button" value='Submit'> -->
   <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}

<!-- #create a form here for additional preferences to be collected and saved to DB  -->


